# Arquivos de compilação
*.class

# Pastas de compilação
bin/
build/

# Configurações específicas do Eclipse IDE
.metadata/
.settings/
.classpath
.project
.recommenders/

# Arquivos de registro
*.log
